<%= image_tag("photobot_live.png", :alt => "PhotoBot2000", :class => "icont") %>
<h4>Spice up your next event with the photobot 2000.</h4><p> 
The photobot 2000 is a portable photo booth that can be set up and torn down in muinuts.  It is an added thing for your guest to do which can really make the event memorable.  Along with this you get a unique and fun documentation of the evnt through a digital guest book with a custom logo on each picture.
</p>
<p>  The thing that really makes the Photobot 2000 different than the traditional photobooth is the automatic upload of pictures to your personal Flickr.com account.  This allows all the photos to be shared between your guest with all the benifits that come with social networking. This also allows you and your guests to print copies of the photos as needed.  The paperless technology of the photobot will be appriciated by your more eco-friendly guests and beacuse there is no need for paper and ink the photobot can be rented at a much cheaper price than a traditional photobooth.  
</p>

<%= image_tag("dim_sm.png", :alt => "PhotoBot2000_dim", :class => "icont") %>

<h4>How does it work?</h4>
<p>
Photobot 2000 is a snap to set up.  Its design makes it easy to transport and fits nicely table top.  It can even be hung on the wall like a picture frame. Just plug it in and press the power button and you are ready to go.  
</p><p>
There is a large front facing screen and a single arcade style button leaving no confusion on how it works. A burst of four photos are taken with a 3...2...1  countdown between each photo.  A short preview is shown to the user with directions how to retrive the photo on line.  Iphone and android users can use a barcode scanner for even easier access to the photos instantly. 
</p>
