<h4>Spice up your next event with the Photobot 2000.</h4>
<%= image_tag("photobot_live.png", :alt => "PhotoBot2001", :class => "icont") %>
<p> 
The Photobot 2000 is a portable photo booth that can be set up in minutes.  It is an added thing for your guest to do which can really make the event memorable.  Along with this you get a unique and fun documentation of the event through a digital guest book with a custom logo on each picture.
</p>
<p>  The thing that really makes the Photobot 2000 different than the traditional photo booth is the automatic upload of pictures to your personal Flickr.com account.  This allows all the photos to be shared between your guest with all the benefits that come with social networking. This also allows you and your guests to print copies of the photos as needed.  The paperless technology of the Photobot 2000 will be appreciated by your eco-friendly guests and because there is no need for paper and ink the Photobot 2000 can be rented at a much cheaper price than a traditional photo booth.  
</p>
<br>
<p>&nbsp;</p>

<%= image_tag("dim_sm.png", :alt => "PhotoBot2000_dim", :class => "icont") %>

<h4>How does it work?</h4>
<p>
Photobot 2000 is a snap to set up.  Its design makes it easy to transport and fits nicely table top.  It can even be hung on the wall like a picture frame. Just plug it in and press the power button and you are ready to go.  
</p><p>
There is a large front facing screen and a single arcade style button leaving no confusion on how it works. A burst of four photos are taken with a 3...2...1  countdown between each photo.  A short preview is shown to the user with directions how to retrieve the photo on line.  Iphone and android users can use a bar code scanner for even easier access to the photos instantly. 
</p>
