<h4>Check out some of the local bars and restaurants with Photobot2000</h4>
        <h4><%= link_to(image_tag("medowlark_logosm.jpg", :alt => "meadowlark", :class => "icont"),"http://www.meadowlarkbar.com/PhotoBot2000.cfm") %>
        </h4>
        <h4>
        <%= link_to(image_tag("coc_logosm.png", :alt => "City O City", :class => "icont"),"http://www.flickr.com/photos/photobot2000/tags/cityocity/") %></h4>
      <div><h4> Contact <%= mail_to "photobot2000@gmail.com" %> </h4></div>

