<h4>Check out some of the local Bars and Restraunts with photobot</h4>
<ul>
        <li><%= image_tag("medowlark_logosm.jpg", :alt => "meadowlark", :class => "icont") %>
        </li>
        <li>
        <%= image_tag("coc_logosm.jpg", :alt => "City O City", :class => "icont") %></li>
</ul>

