<h4>Basic setup</h4>
<ul>
        <li>$450 for 3 hours this includes delivery and setup in the Denver area</li>
        <li>$100 each additional hour</li>
	<li>comes with 1 year social networking setup wifi instant upload of photos (wifi required)</li>	
        <h4>extras $100 each:</h4>
</ul>
<h4>extras $100 each:</h4>
<ul>
	<li>bag of props</li>
	<li>book of photos</li>
	<li>thumbdrive</li>
	<li>DVD video montage with music</li>
	<li>onsite associate</li>
</ul>

