<h4>Basic setup only $100</h4>
<ul>
        <li>$100 for 3 hours this includes delivery and setup in the Denver area</li>
        <li>$100 each additional hour</li>
        <li>unlimited photos</li>
	<li>instant upload of photos (wifi required)</li>
        <li>1 year pro account at flickr</li>	
</ul>
<h4>extras $100 each:</h4>
<ul>
	<li>bag of props</li>
	<li>book of photos</li>
	<li>thumbdrive</li>
	<li>DVD video montage with music</li>
	<li>onsite associate</li>
</ul>

