<div id="accordion">
			<h3><a href="#">Description</a></h3>
			<div>
                        <%= render 'description' %>
			</div>
			<h3><a href="#">Samples</a></h3>
			<div>
                         <%= render 'igallery' %>
			</div>
			<h3><a href="#">Rates</a></h3>
			<div>
			<%= render 'rates' %>
                        </div>
			<h3><a href="#">Contact</a></h3>
			<div>
				<p>Are you interested in booking a date or getting more information? </p>
				<h4><a href="/contacts/new">Reserve a date now</a>
                                </h4>
                              	<p> Are you looking for a permanate installation?</p>
                              <h4><a href="/contacts/new">Get more info on leasing</a>
                              </h4>
			</div>
</div> 
