<div id="accordion">
			<h3><a href="#">Description</a></h3>
			<div>
			    <%= image_tag("photobot_live.png", :alt => "PhotoBot2000", :class => "round") %>
				<p> bla bla bla </p>
			</div>
			<h3><a href="#">Samples</a></h3>
			<div>
				<p> bla bla bla </p>      
			</div>
			<h3><a href="#">Rates</a></h3>
			<div>
				<p> bla bla bla </p>
			</div>
			<h3><a href="#">Contact</a></h3>
			<div>
				<p> bla bla bla </p>
			</div>
</div> 
