<div id="accordion">
			<h3><a href="#">Description</a></h3>
			<div>
			    <%= image_tag("photobot_live.png", :alt => "PhotoBot2000" ) %>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui ligula, posuere non eleifend quis, venenatis nec augue. Donec rutrum dolor ac nisi sagittis placerat. Fusce ultricies tortor non risus viverra at dapibus est porta. Suspendisse ut sollicitudin ipsum. Sed id velit id mauris sodales dapibus. Etiam ullamcorper placerat nisi, eget pellentesque dui volutpat sit amet. Ut sit amet eleifend massa. Quisque blandit, dolor vitae posuere condimentum, tellus velit convallis dolor, et bibendum sapien orci et quam. Mauris non rutrum lacus. Integer vel mauris eu ipsum elementum porttitor.                                
</p>
			</div>
			<h3><a href="#">Samples</a></h3>
			<div>
                                <object width="320" height="240" class="obj_left" > <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fdekeandsara%2Fsets%2F72157627784336300%2Fshow%2F&page_show_back_url=%2Fphotos%2Fdekeandsara%2Fsets%2F72157627784336300%2F&set_id=72157627784336300&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=109615"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=109615" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fdekeandsara%2Fsets%2F72157627784336300%2Fshow%2F&page_show_back_url=%2Fphotos%2Fdekeandsara%2Fsets%2F72157627784336300%2F&set_id=72157627784336300&jump_to=" width="400" height="300"></embed></object>				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui ligula, posuere non eleifend quis, venenatis nec augue. Donec rutrum dolor ac nisi sagittis placerat. Fusce ultricies tortor non risus viverra at dapibus est porta. Suspendisse ut sollicitudin ipsum. Sed id velit id mauris sodales dapibus. Etiam ullamcorper placerat nisi, eget pellentesque dui volutpat sit amet. Ut sit amet eleifend massa. Quisque blandit, dolor vitae posuere condimentum, tellus velit convallis dolor, et bibendum sapien orci et quam. Mauris non rutrum lacus. Integer vel mauris eu ipsum elementum porttitor.
                                </p>      
			</div>
			<h3><a href="#">Rates</a></h3>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui ligula, posuere non eleifend quis, venenatis nec augue. Donec rutrum dolor ac nisi sagittis placerat. Fusce ultricies tortor non risus viverra at dapibus est porta. Suspendisse ut sollicitudin ipsum. Sed id velit id mauris sodales dapibus. Etiam ullamcorper placerat nisi, eget pellentesque dui volutpat sit amet. Ut sit amet eleifend massa. Quisque blandit, dolor vitae posuere condimentum, tellus velit convallis dolor, et bibendum sapien orci et quam. Mauris non rutrum lacus. Integer vel mauris eu ipsum elementum porttitor.
                                </p>
			</div>
			<h3><a href="#">Contact</a></h3>
                                <%= form_tag do %>
                                  Form contents
                                <% end %>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui ligula, posuere non eleifend quis, venenatis nec augue. Donec rutrum dolor ac nisi sagittis placerat. Fusce ultricies tortor non risus viverra at dapibus est porta. Suspendisse ut sollicitudin ipsum. Sed id velit id mauris sodales dapibus. Etiam ullamcorper placerat nisi, eget pellentesque dui volutpat sit amet. Ut sit amet eleifend massa. Quisque blandit, dolor vitae posuere condimentum, tellus velit convallis dolor, et bibendum sapien orci et quam. Mauris non rutrum lacus. Integer vel mauris eu ipsum elementum porttitor.
                                </p>
			</div>
</div> 
