<div id="accordion">
                        <h3><a href="#">See it in Action</a></h3>
                        <div>
                        <%= render 'inaction' %>
                        </div>
                        <h3><a href="#">What it is</a></h3>
			<div>
                        <%= render 'description' %>
			</div>
			<h3><a href="#">Samples</a></h3>
			<div>
                         <%= render 'igallery' %>
			</div>
			<h3><a href="#">Rates</a></h3>
			<div>
			<%= render 'rates' %>
                        </div>
			<h3><a href="#">Contact</a></h3>
			<div>
				<p>Are haveing a private party and interested in booking a date or getting more information? </p>
                              	<p> Are you a bar and looking for a permanent installation? (probably cheaper than your POS)</p>
                             <p> email us directly at</p>
                              <h4><a class="inner_link" href="mailto:photobot2000@gmail.com">PhotoBot2000@gmail.com</a>
                              </h4> 
			</div>
</div> 
